html, body {
    height: 100%;
}
body{
    margin: 0;
}
article.main {
    margin: 2% 27% 0 27%;
}
h1.header {
    font-size: 45px;
}
h1.header::first-line {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 1px;
}
p, ol, ul, dl, table {
    font-size: 18px;
}
table {
    width: 100%;
}
p {
    text-indent: 50px;
}
img.img1 {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.img2 {
    width: 60%;
    float: right;
    margin-top: 30px;
}
.larger {
    font-size: 30px;
}
.blue {
    color: blue;
    
}
.underline {
    text-decoration: underline;
}
.halvetica{
    font-family: Helvetica, Arial, sans-serif;
}