p {
    /* background-color: red; */
}

div p {
    /* background-color: red; */
}

div h2 {
    /* background-color: red; */
}

p, h2 {
    /* background-color: red; */
}

p, div.h2 {
    /* background-color: red; */
}

#test {
    /* background-color: red; */
}

#test p, h2 {
    /* background-color: red; */
}

.www {
    /* background-color: red; */
}

p.www {
    /* background-color: red; */
}

.test, .xxx {
    /* background-color: red; */
}

p.test, .xxx {
    /* background-color: red; */
}

#test p.www {
    /* background-color: red; */
}

#test i {
    /* background-color: red; */
}

.www.xxx {
    /* background-color: red; */
}

.test.www.xxx {
    /* background-color: red; */
}

p > a {
    /* background-color: red; */
}

p > i {
    /* background-color: red; */
}

ul li {
    /* background-color: red; */
}

b + i {
    /* background-color: red; */
}

#test b + i {
    /* background-color: red; */
}

ul + p {
    /* background-color: red; */
}

h1 + p {
    /* background-color: red; */
}

#test h1 + p {
    /* background-color: red; */
}

* {
    /* background-color: red; */
}

p * i {
    /* background-color: red; */
}

*[title] {
    /* background-color: red; */
}

p[title] {
    /* background-color: red; */
}

p[title="title"]{ 
    /* background-color: red; */
}

a[href^="#"] {
    /* background-color: red; */
}

a[href$=".html"]{
    /* background-color: red; */
}

p[title*="hello"] {
    /* background-color: red; */
}

p[class^="top-"] {
    /* background-color: red; */
}

.task li {
    display: list-item;
    width: fit-content;
    margin-top: 3px;
    outline: 1px solid #000;
}

.task2 p:hover {
    background-color: green;
}

.task2 p:hover + p {
    /*background-color: red;*/
}

.task2 p:hover + p + p {
    /*background-color: red;*/
}

.task2 p:hover ~ p:not(:last-of-type) {
    /*background-color: red;*/
}