body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  line-height: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
  width: 100%;
}

.root h1 {
  margin-bottom: 32px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.group h2 {
  margin-bottom: 8px;
}

.mpstat {
  color: blue;
}

.iostat {
  color: green;
}

.free {
  color: darkgray;
}